---
name: YAML Lint
on:
  pull_request:
    branches: [main]
jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: weapons/*.yaml
          config_file: .yamllint.yml
